
<div class="home-features-section-container">

    {{#each home_backpacker_features.items}}
    <div class="home-features-section__wrap">
        <div class="container">
            <div class="home-features-section__content">
                <p class="feature__content">{{this.content}}</p>
                <div class="orange-devider"></div>
            </div>


            <div class="home-features-section__icons">
                <img src="/public/img/sapa.jpg" />
            </div>
        </div>
    </div>
    {{/each}}

</div>