
<div class="home-slider-container">
    <div class="home-slider-wrap">
        {{#each home_image_slider.items}}
        <img class="home-slider-image" src="{{bg-image}}" />
        {{/each}}
    </div>

    <div class="home-slider-content">
        <p class="backpacker-big-logo">Backpacker</p>
        <p class="backpacker-main-quote">To Travel Is To Live</p>
        <a class="backpacker-about-us-button">About Us</a>
    </div>
</div>

<div class="home-image-responsive" style="background: url('/public/img/london.jpg')">
    <div class="home-slider-content">
        <p class="backpacker-big-logo">Backpacker</p>
        <p class="backpacker-main-quote">To Travel Is To Live</p>
        <a class="backpacker-about-us-button">About Us</a>
    </div>
</div>

<script>
    $(".home-slider-wrap > img:gt(0)").hide();

    setInterval(function () {
        $('.home-slider-wrap > img:first')
          .fadeOut(1500)
          .next()
          .fadeIn(1500)
          .end()
          .appendTo('.home-slider-wrap');
    }, 4000);
</script>

