$FONT-FAMILY: Comfortaa;
$LETTER_SPACING_1: 1px;
$LETTER_SPACING_2: 2px;

$LAPTOP: 1270px;
$SMALL_LAPTOP: 1200px;
$BIG_TABLET: 1024px; 
$TABLET: 992px; 
$SMALL_TABLET: 840px;
$BIG_PHONE: 768px;
$PHONE: 640px;
$SMALL_PHONE: 480px;

$GG_RED: #d03a3c;
$YELLOW: #facd20;
$ORANGE: #ff9f47;
$WHITE: #fff;
$WHITE_GRAY: #F0F1F3;
$BLUE_GRAY: #48525F;
$LIGHT_GRAY: #6a7885;
$GRAY: #595a5a;
$DARK_GRAY: #2f2933;

.bg-white {
    background: #fff;
}


