
<div class="home-header">
    <div class="home-header__logo-container">
        <a class="home-header__logo-wrap" href="#">
            <span class="backpacker-logo">BackPacker</span>
        </a>
    </div>

    <div class="home-header__mobile-space"></div>

    <div class="home-header__right">
        <div class="home-header__modal-link">
            <span>Sign Up</span>
        </div>
        <div class="home-header__modal-link">
            <span>Log In</span>
        </div>
        <div class="home-header__modal-link">
            <span>Contact Us</span>
        </div>
    </div>
</div>

<div class="home-nav-button">
    <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
</div>

<div class="home-left-navigation">
    <div class="home-left-navigation__container">
        <div class="home-left-navigation__back-button">
            <i class="fa fa-times close-left-navigation" aria-hidden="true"></i>
        </div>
        <div class="home-left-navigation__list-link">
            <div class="home-header__modal-link">
                <span>Sign Up</span>
            </div>
            <div class="home-header__modal-link">
                <span>Log In</span>
            </div>
            <div class="home-header__modal-link">
                <span>Contact Us</span>
            </div>
        </div>
    </div>
</div>

<!-- disable scrolling when left navigation is shown -->
<div class="home-right-fading close-left-navigation"></div>

<script>
    $(".close-black-button").on('click tap', function () {
        $(".home-right-fading").fadeOut(200);

        $(".home-left-navigation").addClass("left-navigation--hidden");
    });
</script>