.home-header {
    display: flex;
    flex-direction: row;
    color: $WHITE;
    position: relative;
    z-index: 5;
    font-family: $FONT-FAMILY;
    letter-spacing: $LETTER_SPACING_1;

    background: none; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0.65) 0, rgba(0,0,0,0.15) 65%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0) 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom, rgba(0,0,0,0.65) 0, rgba(0,0,0,0.15) 65%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0) 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0.65) 0, rgba(0,0,0,0.15) 65%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0) 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0, rgba(0,0,0,0.15) 65%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0) 100%); /* Standard syntax */

    .home-header__logo-wrap {
        text-decoration: none;
    }

    .home-header__logo-container {
        float: left;
        padding: 10px 15px;
        font-size: 20px;
        cursor: pointer;
        margin: 0 5px;

        @media (max-width: $TABLET){
            font-size: 16px;
        }

        @media (max-width: $PHONE){
            font-size: 12px;
        }

        .backpacker-logo {
            color: $WHITE;
        }
    }

    .home-header__mobile-space {
        float: left;
        flex: 1px;
    }

    .home-header__right {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        margin: 0 10px;

        .home-header__modal-link {
            cursor: pointer;
            padding: 10px 12px;

            @media (max-width: $TABLET){
                font-size: 12px;
            }

            @media (max-width: $PHONE){
                font-size: 10px;
            }
        }
    }

    @media (max-width: $BIG_PHONE){
        display: none;
    }
}

.home-nav-button {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    padding: 5px 8px;
    background-color: $YELLOW;
    position: fixed;
    z-index: 10;

    &:hover {
        background-color: $BLUE_GRAY;

        i {
            color: $YELLOW;
        }
    }

    i {
        color: $BLUE_GRAY;
    }

    display: none;

    @media (max-width: $BIG_PHONE){
        display: block;
    }
}

.home-left-navigation, .home-right-fading {
    top: 0;
    height: 100vh;
    position: fixed;
}

.home-left-navigation {
    width: 70%;
    z-index: 10;
    left: -70%;
    font-family: $FONT-FAMILY;
    font-size: 1.75rem;
    letter-spacing: $LETTER_SPACING_1;
    background-color: $WHITE;
    color: $DARK_GRAY;
    padding: 30px 45px;
    transition: width 250ms ease;

    .home-left-navigation__back-button {
        text-align: right;
    }

    .home-left-navigation__list-link {
        .home-header__modal-link {
            margin: 15px 0;
            padding: 5px;
            border-bottom: 1px solid $YELLOW;

            &:hover {
                color: #fff;
                background: $YELLOW;
            }
        }
    }

    @media (max-width: $BIG_PHONE){
        display: block;
    }
}

.backpacker-close-button {
    color: $YELLOW;
    font-size: 3.5rem;
    transition: all 250ms ease;

    &:hover {
        color: $BLUE_GRAY;
    }
}

.left-navigation--shown {
    left: 0;
}

.home-right-fading {
    width: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.3);
}

.backpacker-modal-dialog {
    padding: 10vh 5vh !important;

    .modal-header {
        text-align: center;
    }

    .modal-title {
        font-size: 2rem;
        color: $DARK_GRAY;

        @media (max-width: $BIG_PHONE){
            font-size: 1.5rem;
        }
    }

    .modal-body {
        .modal-body__google-login-button {
            background-color: $GG_RED;
            color: $WHITE;
            width: 80%;
            height: 40px;
            font-size: 1.5rem;
            margin: auto;
            border-radius: 5px;

            .google-login-button__icon {
                float: left;
                padding: 9px 10px;
            }

            .google-login-button__text {
                padding: 9px 10px;
            }
        }
    }

    .modal-footer {
        .backpacker-close-button {
            opacity: 0.8;
            font-size: 2.75rem;

            @media (max-width: $BIG_PHONE){
                font-size: 2.5rem;
            }
        }
    }
}