
<div class="home-header">
    <div class="home-header__logo-container">
        <a class="home-header__logo-wrap" href="#">
            <span class="backpacker-logo">BackPacker</span>
        </a>
    </div>

    <div class="home-header__mobile-space"></div>

    <div class="home-header__right">
        <div class="home-header__modal-link" data-toggle="modal" data-target="#signUpModal">
            <span>Sign Up</span>
        </div>
        <div class="home-header__modal-link" data-toggle="modal" data-target="#logInModal">
            <span>Log In</span>
        </div>
        <div class="home-header__modal-link">
            <span>Contact Us</span>
        </div>
    </div>
</div>

<div class="home-nav-button">
    <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
</div>

<div class="home-left-navigation">
    <div class="home-left-navigation__container">
        <div class="home-left-navigation__back-button">
            <i class="fa fa-times backpacker-close-button" aria-hidden="true"></i>
        </div>
        <div class="home-left-navigation__list-link">
            <div class="home-header__modal-link" data-toggle="modal" data-target="#signUpModal">
                <span>Sign Up</span>
            </div>
            <div class="home-header__modal-link" data-toggle="modal" data-target="#logInModal">
                <span>Log In</span>
            </div>
            <div class="home-header__modal-link">
                <span>Contact Us</span>
            </div>
        </div>
    </div>
</div>

<!-- disable scrolling when left navigation is shown -->
<div class="home-right-fading close-left-navigation"></div>

<script>
    //Hide navigation when reload page
    $(document).ready(function() {
         $(".home-right-fading").fadeOut(0);
    });

    //Close left header navigation
    $(".close-left-navigation").on('click tap', function () {
        $(".home-right-fading").fadeOut(250);

        $(".home-left-navigation").removeClass("left-navigation--shown");
    });

    //Open left header navigation
    $(".home-nav-button").on('click tap', function () {
        $(".home-right-fading").css("display","none");

        $(".home-left-navigation").addClass("left-navigation--shown");

        $(".home-right-fading").fadeIn(250);
    });
</script>

<!-- MODAL BOOTSTRAP -->
<div id="signUpModal" class="modal fade" role="dialog">
    <div class="modal-dialog backpacker-modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign up and start your journey!</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <i class="fa fa-times close backpacker-close-button" data-dismiss="modal" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div id="logInModal" class="modal fade" role="dialog">
    <div class="modal-dialog backpacker-modal-dialog">
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Login to your Backpacker account!</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body__google-login-button">
                    <div class="google-login-button__icon">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </div>
                     <div class="google-login-button__text">
                        <span>Continue with Google</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <i class="fa fa-times close backpacker-close-button" data-dismiss="modal" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>