
<div class="home-header">
    <div class="home-header__logo-container">
        <a class="home-header__logo-wrap" href="#">
            <span class="backpacker-logo">BackPacker</span>
        </a>
    </div>

    <div class="home-header__mobile-space"></div>

    <div class="home-header__right">
        <div class="home-header__modal-link">
            <span>Sign Up</span>
        </div>
        <div class="home-header__modal-link">
            <span>Log In</span>
        </div>
    </div>
</div>