
<div class="lets-discovery-container">
    <div class="lets-discovery-container__item" style="background: url('/public/img/lets_discovery.jpg')">
        <div class="lets-discovery-item__content" >
            <p class="item-title">Discovery new lands</p>
            <a class="item-button">Let's Discovery</a>
        </div>
    </div>

    <div class="lets-discovery-container__item" style="background: url('/public/img/join_us.jpg')">
        <div class="lets-discovery-item__content">
            <p class="item-title">Join with us</p>
            <a class="item-button">Register</a>
        </div>
    </div>
</div>